<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
  </head>
<body>
  <header>
    {%block header %}{% endblock %}
  </header>

  <nav class="top-nav">
    {% if current-user %}
    Signed in as {{ current-user.username }}
    <a href="/logout">logout</a>
    {% endif %}
  </nav>

  {% block breadcrumb %}
  {% endblock %}


  {% if flash-message %}
  <dialog open class="flash {{ flash-type }}">
    {{ flash-message }}
  </dialog>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
