{% extends "layouts/default.html" %}

{% block header %}
<h1>Users</h1>
{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumb">
  <a href="/">home</a> /
  users
</nav>
{% endblock %}


{% block content %}

<ul>
{% for username in user-usernames %}
<li>
  <a href="/u/{{ username }}">{{ username }}</a>
</li>
{% endfor %}
</ul>

<form action="/users" method="POST">
  <input type="submit" value="Create an open user" />
</form>

<ul>
  <li><a href="/tests/login">login test</a></li>
  <li><a href="/tests/referer">ltest referer</a></li>
  <li><a href="/tests/flash/notice">test falsh notice</a></li>
  <li><a href="/tests/flash/error">test flash error</a></li>
  <li><a href="/tests/current-user">test current user</a></li>
  <li><a href="/tests/session-user">test session user</a></li>
</ul>
asdf
{% endblock %}
