{% extends "layouts/default.html" %}

{% block header %}
<h1>Profile ({{ user.username }})</h1>
{% endblock %}


{% block breadcrumb %}
<nav class="breadcrumb">
  <a href="/">home</a> /
  <a href="/users">users</a> /
  profile
</nav>
{% endblock %}


{% block content %}

{% ifequal current-user.uuid user.uuid %}
current user is this user
{% endifequal %}


<ul>
  <li>UUID: {{ user.uuid }}</li>
  <li>username: {{ user.username }}</li>
</ul>


{% if message-groups %}
{% include "messages/_message_groups.html" %}
{% endif %}


{% endblock %}
