{% extends "layouts/default.html" %}

{% block header %}
<h1>User - {{ user.username }}</h1>
{% endblock %}


{% block breadcrumb %}
<a href="/">home</a> /
<a href="/users">users</a> /
{{ user.username }}
{% endblock %}


{% block content %}

{% if user.password-set %}
<p>This profile is claimed</p>
{% if not current-user %}
<a href="/u/{{ user.username }}/auth">Login as {{ user.username }}</a>
{% endif %}

{% else %}
<p>This profile is open. You can claim it by setting a password.</p>

{% if not current-user %}
<form method="POST" action="/u/{{ user.username }}/login">
  <input type="submit" value="Login as user {{ user.username }}" />
</form>
{% endif %}
{% endif %}

{% ifequal current-user.uuid user.uuid %}
current user is this user
{% endifequal %}


<ul>
  <li>UUID: {{ user.uuid }}</li>
  <li>username: {{ user.username }}</li>
</ul>


{% if current-user %}
<a href="/u/{{ user.uuid }}/messages">public messages</a>

<form method="POST" action="/u/{{ user.uuid }}/messages">
  <textarea name="message-body"></textarea>
  <input type="submit" value="Send" />
</form>
{% endif %}

{% endblock %}
